#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;
}

#melody-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    isolation: isolate;
}

/* #melody-panel > */
#melody-panel-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#tool-panel {
    position: absolute;
    top: 0;
    right: 0;
}

#device-and-music-data-panel {
    position: absolute;
    top: 0;
    left: 0;
}

/* #device-and-music-data-panel > */
label#midi-file-drop-label {
    display: block;

    color: white;
}

/* label#midi-file-drop-label > */
#file-name-div {
    display: inline-block;
    padding: 0.1em 0.5em;

    vertical-align: middle;
}
#file-name-div::before {
    content: "ファイルを選択";

    display: inline-block;

    margin-right: 0.5em;
    padding: 0.1em 0.5em;
    border: 1px solid gray;
}

label#midi-file-drop-label > span {
    display: inline-block;
    vertical-align: middle;
}

/* label#midi-file-drop-label > */
#midi-file-drop {
    display: none;
}

/* #device-and-music-data-panel > */
#play-button {
    margin: 0.5em;
    padding: 0.1em 0.5em;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;

    vertical-align: middle;
}

#play-button::before {
    content: "▶";
    margin-right: 0.5em;
}

#device-and-music-data-panel .button-group {
    margin: 1ex;
    font-size: 14px;

    vertical-align: middle;
}

#device-and-music-data-panel .button-group .button-group-item {
    font-size: 14px;
}

.button-group {
    width: max-content;
    overflow: visible;

    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button-group > .button-group-item {
    flex: 0 0 auto;

    padding: 0.2em 0.5em;
    cursor: default;

    color: white;
    background-color: gray;

    z-index: 0;
}

.button-group > .button-group-item:first-child {
    border-radius: 4px 0 0 4px;
}
.button-group > .button-group-item:last-child {
    border-radius: 0 4px 4px 0;
}

.button-group > .button-group-item.selected {
    color: black;
    background-color: white;
    margin: -1px;
    border: 1px solid white;
    box-shadow: 0 0 3px black;

    font-weight: 600;

    z-index: 1;
}
