#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;
}

#melody-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    isolation: isolate;
}

#melody-panel > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: visible;
    transform-origin: 50% 50%;
    transform: translate(50%, 50%);
    mix-blend-mode: screen;
}

#melody-panel > div > div {
    position: absolute;
    border-radius: 50% 50%;

    background-color: rgba(16, 16, 16);
    mix-blend-mode: screen;

    transform-origin: 50% 50%;
    will-change: transform;
}

#melody-panel > div:nth-child(7n+3) > div.activated {
    background-color: rgba(96, 16, 16);
}
#melody-panel > div:nth-child(7n+5) > div.activated {
    background-color: rgba(96, 32, 16);
}
#melody-panel > div:nth-child(7n+7) > div.activated {
    background-color: rgba(96, 96, 16);
}
#melody-panel > div:nth-child(7n+1) > div.activated {
    background-color: rgba(16, 96, 16);
}
#melody-panel > div:nth-child(7n+4) > div.activated {
    background-color: rgba(16, 96, 96);
}
#melody-panel > div:nth-child(7n+2) > div.activated {
    background-color: rgba(16, 16, 96);
}
#melody-panel > div:nth-child(7n+6) > div.activated {
    background-color: rgba(96, 16, 96);
}

#tool-panel {
    position: absolute;
    top: 0;
    right: 0;
}

#device-and-music-data-panel {
    position: absolute;
    top: 0;
    left: 0;
}

/* #device-and-music-data-panel > */
#midi-file-drop {
    color: white;
}

#device-and-music-data-panel button {
    margin: 1ex;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 14px;
}

#device-and-music-data-panel .button-group {
    margin: 1ex;
    font-size: 14px;
}

#device-and-music-data-panel .button-group .button-group-item {
    font-size: 14px;
}

.button-group {
    width: max-content;
    overflow: visible;

    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button-group > .button-group-item {
    flex: 0 0 auto;

    padding: 0.2em 0.5em;
    cursor: default;

    color: white;
    background-color: gray;

    z-index: 0;
}

.button-group > .button-group-item:first-child {
    border-radius: 4px 0 0 4px;
}
.button-group > .button-group-item:last-child {
    border-radius: 0 4px 4px 0;
}

.button-group > .button-group-item.selected {
    color: black;
    background-color: white;
    margin: -1px;
    border: 1px solid white;
    box-shadow: 0 0 3px black;

    font-weight: 600;

    z-index: 1;
}
