#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;
}

#melody-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    isolation: isolate;
}

/* #melody-panel > */
#melody-panel-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#tool-panel {
    position: absolute;
    top: 0;
    right: 0;
}

#device-and-music-data-panel {
    position: absolute;
    top: 0;
    left: 0;
}

/* #device-and-music-data-panel > */
label#midi-file-drop-label {
    display: block;

    color: white;
}

/* label#midi-file-drop-label > */
#file-name-div {
    display: inline-block;
    padding: 0.1em 0.5em;

    vertical-align: middle;
}
#file-name-div::before {
    content: "ファイルを選択";

    display: inline-block;

    margin-right: 0.5em;
    padding: 0.1em 0.5em;
    border: 1px solid gray;
}

label#midi-file-drop-label > span {
    display: inline-block;
    vertical-align: middle;
}

/* label#midi-file-drop-label > */
#midi-file-drop {
    display: none;
}

#change-key-div {
    display: inline-block;

    margin-left: 0.3em;
    color: white;
    font-size: 1.0em;
}

/* #change-key-div > */
#key-div {
    display: inline-block;
    margin-left: -0.1em;

    text-align: right;
    width: 2.0em;
}

/* #change-key-div > */
#up-key-button, #down-key-button {
    margin: 0;
    padding: 0.2em 0.5em;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;

    vertical-align: middle;
}

#down-key-button::before {
    content: "";
    display: inline-block;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width: 0.625em;
    height: 0;
    border-top: 0.125em solid white;
    vertical-align: middle;
}

#up-key-button::before {
    content: "";
    display: inline-block;

    margin-left: 0.25em;
    margin-right: -0.375em;
    width: 0;
    height: 0.625em;
    border-right: 0.125em solid white;
    vertical-align: middle;
}
#up-key-button::after {
    content: "";
    display: inline-block;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width: 0.625em;
    height: 0;
    border-top: 0.125em solid white;
    vertical-align: middle;
}

#change-magnification-div {
    display: inline-block;

    margin-left: 0.3em;
    color: white;
    font-size: 1.0em;
}

/* #change-magnification-div > */
#magnification-div {
    display: inline-block;

    text-align: right;
    width: 3.0em;
}

/* #change-magnification-div > */
#up-magnification-button, #down-magnification-button {
    margin: 0;
    padding: 0.2em 0.5em;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;

    vertical-align: middle;
}

#down-magnification-button::before {
    content: "";
    display: inline-block;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width: 0.625em;
    height: 0;
    border-top: 0.125em solid white;
    vertical-align: middle;
}

#up-magnification-button::before {
    content: "";
    display: inline-block;

    margin-left: 0.25em;
    margin-right: -0.375em;
    width: 0;
    height: 0.625em;
    border-right: 0.125em solid white;
    vertical-align: middle;
}
#up-magnification-button::after {
    content: "";
    display: inline-block;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width: 0.625em;
    height: 0;
    border-top: 0.125em solid white;
    vertical-align: middle;
}

/* #device-and-music-data-panel > */
#home-button, #play-button {
    padding: 0.2em 0.5em;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;

    vertical-align: middle;
}
#home-button {
    margin-left: 0.5em;
    margin-right: 0;
}
#play-button {
    margin-left: 0;
    margin-right: 0.1em;
}

#home-button::before {
    content: "";
    margin-right: 0.1em;

    display: inline-block;
    height: 0.625em;
    border-left: 0;
    border-right: 0.15em solid white;
    border-top: 0;
    border-bottom: 0;
}
#home-button::after {
    content: "";

    display: inline-block;
    height: 0;
    border-left: 0;
    border-right: 0.45em solid white;
    border-top: 0.3125em solid transparent;
    border-bottom: 0.3125em solid transparent;
}

#play-button::before {
    content: "";

    display: inline-block;
    height: 0;
    padding-right: 0;
    border-left: 0.625em solid white;
    border-right: none;
    border-top: 0.3125em solid transparent;
    border-bottom: 0.3125em solid transparent;
}
#play-button.playing::before {
    content: "";

    display: inline-block;
    height: 0.625em;
    padding-right: 0.2em;
    border-left: 0.2125em solid white;
    border-right: 0.2125em solid white;
    border-top: none;
    border-bottom: none;
}

#device-and-music-data-panel .button-group {
    margin: 1ex;
    font-size: 14px;

    vertical-align: middle;
}

#device-and-music-data-panel .button-group .button-group-item {
    font-size: 14px;
}

.button-group {
    width: max-content;
    overflow: visible;

    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button-group > .button-group-item {
    flex: 0 0 auto;

    padding: 0.2em 0.5em;
    cursor: default;

    color: white;
    background-color: gray;

    z-index: 0;
}

.button-group > .button-group-item:first-child {
    border-radius: 4px 0 0 4px;
}
.button-group > .button-group-item:last-child {
    border-radius: 0 4px 4px 0;
}

.button-group > .button-group-item.selected {
    color: black;
    background-color: white;
    margin: -1px;
    border: 1px solid white;
    box-shadow: 0 0 3px black;

    font-weight: 600;

    z-index: 1;
}
